.create-post-button {
  text-align: center;
  height: 40px;
  padding: auto;
  background-color: #ff69b4;
  border: #ff69b4;
}

.create-post-button .ant-btn-primary .ant-btn-primary:active {
  background-color: #ff69b4;
  border-color: #ff69b4;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.create-post-button:hover .ant-btn-primary:hover {
  background-color: #ff69b4;
  border-color: #ff69b4;
}

.create-post-modal .ant-modal-header {
  background-color: #ffccf96e;
  border-bottom: none;
}

.create-post-modal .ant-modal-title {
  color: #333;
  font-weight: bold;
}

.create-post-modal .ant-modal-footer {
  border-top: none;
}
